block offer 
    section.offer
        .container
            .offer-inner 
                h1.offer-title.section-title._purple 
                    span.line Запустите грузовой 
                    span.line шиномонтаж  
                    | по франшизе AvdeevTyres
                p.offer-text  и зарабатывайте 
                    span.fat 900 000 рублей 
                    | прибыли в месяц обслуживая федеральные компании
                .offer-slider
                    .swiper-slide 
                        .offer-item 
                            .offer-item__img 
                                img(src="img/offer/1.png", alt="")
                            .offer-item__info   
                                span.fat.row Предоставим 
                                |первых клиентов
                    .swiper-slide 
                        .offer-item 
                            .offer-item__img.second 
                                img(src="img/offer/2.png", alt="")
                            .offer-item__info 
                                span.fat Окажем помощь 
                                |в поиске </br>и оборудовании помещения
                    .swiper-slide 
                        .offer-item.first  
                            .offer-item__img
                                img(src="img/offer/3.png", alt="")
                            .offer-item__info 
                                span.fat Проведём обучение 
                                |сотрудников стандартам компании
                .offer-bottom 
                    button.btn.offer-bottom-btn.question-btn Получить материалы

            